<!-- CAPACITY -->
<div class="mb-3" data-controller="capacity">
  <%= form.label t('training_sessions.participants'), class: "d-block h5" %>
  <div>
    <%= form.label t('training_sessions.places_available'), class: "required h6 my-auto w-50" %>
    <%= form.number_field :capacity, class: 'form-control-sm', id: "capacity", min: 0, max: 9999, required: true,
        "data-capacity-target": "capacityNumber", "data-action": "input->capacity#change" %>
  </div>
</div>