<div class="mb-3 d-none" data-training-sessions-format-target="online">
  <%= form.label :connexion_url, class: "h6 required" %>
  <%= form.url_field :connexion_url, class: 'form-control online-required', 'data-training-sessions-format-target': 'url' %>
</div>
