<div style="padding: 1rem 0;">
  <p style="<%= Constants::SendInBlue::STYLE_CENTER %>">
    <%= link_to(t("participation.access_session"), session_url, style: Constants::SendInBlue::STYLE_CALL_TO_ACTION_BTN) %>
  </p>
</div>
